*{
    margin: 0;
    padding: 0;
}
body{
    background: #F3F1FF;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
}
/* manu start */
nav{
    background: #562EFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    position: fixed; 
    right: 0;
    left: 0;
}
.n_image{
    display: flex;
    align-items: center;
    gap: 15px;
}
.n_image h1{
    font-size: 24px;
    font-weight: 500;
    color: #FFFFFF;
}
nav img{
    width: 40px;
    border-radius: 50px;
}
.manu ul{
    display: flex;
    align-items: center;
    gap: 30px;
    list-style-type: none;
}
.manu ul li a{
    text-decoration: none;
    color: #FFFFFF;
}
.manu ul li a:hover{
    color: #FF5733 ;
}
/* manu end */
/* top-players start */
main{
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.container{
    width: 870px;
    background-color:#fff;
    padding: 30px;
    margin-top: 120px;
    border-radius: 5px;
}
.top{
    color: #562EFF;
    font-size: 24px;
    margin: 20px 0px 20px;
}
.wapper{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 29px;
    margin-top: 10px;
}
.player{
    display: flex;
    align-items: center;
    gap: 16px;
}
.player img{
    width: 56px    
}
.player h2{
    font-size: 18px;
}
hr{
    margin: 30px 10px 30px;
}
/* top-players end */
/* top blog start */
.wapper2{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 29px;
    margin-top: 10px;
}
.blog{
    display: flex;
    gap: 20px;
}
.blog img{
    width: 150px;
}
.blog text{
    color: #000;
font-size: 20px;
}
.blog h1{
    color: #000;
font-size: 20px;
}
.blog span{
    color: #9F9F9F;
}
.blog a{
    color: #562EFF;
    text-decoration: none;
}
/* top blog end */

/* top lates start */
.container2{
    width: 870px;
    background-color:#fff;
    padding: 30px;
    margin-top: 20px;
    border-radius: 5px;
}
.wapper3{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.lates{
    padding: 10px;
    border-radius: 10px;
    box-shadow:  0 .5rem 1rem rgba(0,0,0,.15);
    transition: .5s;
}
.lates:hover{
    transform :scale(0.9);
    box-shadow:  0 .5rem 1rem rgb(85, 146, 14);
}
.lates img{
    width: 266px;
}
.l_text h1{
    font-size: 20px;
}
.l_text p{
    font-size: 18px;
    color: #ED6B4F;
    margin: 10px 0px 10px;
}
.icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.star{
    color: #FFC014;
}
.star i:last-child {
    color: #AEAEAE;
}
span{
    color: #A2A2A2;;
}
.l_text a{
    text-decoration: none;
    background: #FFE4E8;
    color: #FF4A60;
    border-radius: 14.691px;
    padding: 2px 5px;
}

/* top lates end */




